<ion-view title="lavapramim | Edição" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="lavapramimEdiO-form9" class="list">
      <ion-list id="lavapramimEdiO-list19">
        <ion-item class="item-divider" id="lavapramimEdiO-list-item-divider10"> Localização</ion-item>
        <label class="item item-input" id="lavapramimEdiO-input24">
          <span class="input-label">CEP</span>
          <input type="text" placeholder="" ng-model="address.cep">
        </label>
      </ion-list>
      <label class="item item-input" id="lavapramimEdiO-input25">
        <span class="input-label">Endereço</span>
        <input type="text" placeholder="" ng-model="address.address">
      </label>
      <label class="item item-input" id="lavapramimEdiO-input26">
        <span class="input-label">Número</span>
        <input type="text" placeholder="" ng-model="address.number">
      </label>
      <label class="item item-input" id="lavapramimEdiO-input27">
        <span class="input-label">Bairro</span>
        <input type="text" placeholder="" ng-model="address.suburb">
      </label>
      <label class="item item-select" id="lavapramimEdiO-select2">
        <span class="input-label">Cidade</span>
        <select ng-model="address.city">
          <option value="Angra dos Reis">Angra dos Reis</option>
          <option value="Aperibé">Aperibé</option>
          <option value="Araruama">Araruama</option>
          <option value="Areal">Areal</option>
          <option value="Armação dos Búzios">Armação dos Búzios</option>
          <option value="Arraial do Cabo">Arraial do Cabo</option>
          <option value="Barra do Piraí">Barra do Piraí</option>
          <option value="Barra Mansa">Barra Mansa</option>
          <option value="Belford Roxo">Belford Roxo</option>
          <option value="Bom Jardim">Bom Jardim</option>
          <option value="Bom Jesus do Itabapoana">Bom Jesus do Itabapoana</option>
          <option value="Cabo Frio">Cabo Frio</option>
          <option value="Cachoeiras de Macacu">Cachoeiras de Macacu</option>
          <option value="Cambuci">Cambuci</option>
          <option value="Campos dos Goytacazes">Campos dos Goytacazes</option>
          <option value="Cantagalo">Cantagalo</option>
          <option value="Carapebus">Carapebus</option>
          <option value="Cardoso Moreira">Cardoso Moreira</option>
          <option value="Carmo">Carmo</option>
          <option value="Casimiro de Abreu">Casimiro de Abreu</option>
          <option value="Comendador Levy Gasparian">Comendador Levy Gasparian</option>
          <option value="Conceição de Macabu">Conceição de Macabu</option>
          <option value="Cordeiro">Cordeiro</option>
          <option value="Duas Barras">Duas Barras</option>
          <option value="Duque de Caxias">Duque de Caxias</option>
          <option value="Engenheiro Paulo de Frontin">Engenheiro Paulo de Frontin</option>
          <option value="Guapimirim">Guapimirim</option>
          <option value="Iguaba Grande">Iguaba Grande</option>
          <option value="Itaboraí">
            Itaboraí
          </option>
          <option value="Itaguaí">
            Itaguaí
          </option>
          <option value="Italva">
            Italva
          </option>
          <option value="Itaocara">
            Itaocara
          </option>
          <option value="Itaperuna">
            Itaperuna
          </option>
          <option value="Itatiaia">
            Itatiaia
          </option>
          <option value="Japeri">
            Japeri
          </option>
          <option value="Laje do Muriaé">
            Laje do Muriaé
          </option>
          <option value="Macaé">
            Macaé
          </option>
          <option value="Macuco">
            Macuco
          </option>
          <option value="Magé">
            Magé
          </option>
          <option value="Mangaratiba">
            Mangaratiba
          </option>
          <option value="Maricá">
            Maricá
          </option>
          <option value="Mendes">
            Mendes
          </option>
          <option value="Mesquita">
            Mesquita
          </option>
          <option value="Miguel Pereira">
            Miguel Pereira
          </option>
          <option value="Miracema">
            Miracema
          </option>
          <option value="Natividade">
            Natividade
          </option>
          <option value="Nilópolis">
            Nilópolis
          </option>
          <option value="Niterói">
            Niterói
          </option>
          <option value="Nova Friburgo">
            Nova Friburgo
          </option>
          <option value="Nova Iguaçu">
            Nova Iguaçu
          </option>
          <option value="Paracambi">
            Paracambi
          </option>
          <option value="Paraíba do Sul">
            Paraíba do Sul
          </option>
          <option value="Paraty">
            Paraty
          </option>
          <option value="Paty do Alferes">
            Paty do Alferes
          </option>
          <option value="Petrópolis">
            Petrópolis
          </option>
          <option value="Pinheiral">
            Pinheiral
          </option>
          <option value="Piraí">
            Piraí
          </option>
          <option value="Porciúncula">
            Porciúncula
          </option>
          <option value="Porto Real">
            Porto Real
          </option>
          <option value="Quatis">
            Quatis
          </option>
          <option value="Queimados">
            Queimados
          </option>
          <option value="Quissamã">
            Quissamã
          </option>
          <option value="Resende">
            Resende
          </option>
          <option value="Rio Bonito">
            Rio Bonito
          </option>
          <option value="Rio Claro">
            Rio Claro
          </option>
          <option value="Rio das Flores">
            Rio das Flores
          </option>
          <option value="Rio das Ostras">
            Rio das Ostras
          </option>
          <option value="Rio de Janeiro">
            Rio de Janeiro
          </option>
          <option value="Santa Maria Madalena">
            Santa Maria Madalena
          </option>
          <option value="Santo Antônio de Pádua">
            Santo Antônio de Pádua
          </option>
          <option value="São Fidélis">
            São Fidélis
          </option>
          <option value="São Francisco de Itabapoana">
            São Francisco de Itabapoana
          </option>
          <option value="São Gonçalo">
            São Gonçalo
          </option>
          <option value="São João da Barra">
            São João da Barra
          </option>
          <option value="São João de Meriti">
            São João de Meriti
          </option>
          <option value="São José de Ubá">
            São José de Ubá
          </option>
          <option value="São José do Vale do Rio Preto">
            São José do Vale do Rio Preto
          </option>
          <option value="São Pedro da Aldeia">
            São Pedro da Aldeia
          </option>
          <option value="São Sebastião do Alto">
            São Sebastião do Alto
          </option>
          <option value="Sapucaia">
            Sapucaia
          </option>
          <option value="Saquarema">
            Saquarema
          </option>
          <option value="Seropédica">
            Seropédica
          </option>
          <option value="Silva Jardim">
            Silva Jardim
          </option>
          <option value="Sumidouro">
            Sumidouro
          </option>
          <option value="Tanguá">
            Tanguá
          </option>
          <option value="Teresópolis">
            Teresópolis
          </option>
          <option value="Trajano de Moraes">
            Trajano de Moraes
          </option>
          <option value="Três Rios">
            Três Rios
          </option>
          <option value="Valença">
            Valença
          </option>
          <option value="Varre-Sai">
            Varre-Sai
          </option>
          <option value="Vassouras">
            Vassouras
          </option>
          <option value="Volta Redonda">
            Volta Redonda
          </option>
        </select>
      </label>
    </form>
    <div id="lavapramimEdiO-button-bar9" class="button-bar">
      <a ui-sref="lavapramimConfirmaO()" id="lavapramimEdiO-button43" class="button button-stable button-block">Voltar</a>
      <a ng-click="saveAddress()" id="lavapramimEdiO-button44" class="button button-positive button-block">Cadastrar</a>
    </div>
  </ion-content>
</ion-view>
