<ion-view title="lavapramim | Stop" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="http://images.mysafetysign.com/img/lg/K/stop-permission-required-sign-k-9021.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="lavapramimStop-list18">
      <ion-item class="item-divider" id="lavapramimStop-list-item-divider8">Você precisa se logar para continuar</ion-item>
    </ion-list>
    <a ui-sref="lavapramim()" id="lavapramimStop-button42" class="button button-positive button-block">Início</a>
  </ion-content>
</ion-view>
