<ion-view title="lavapramim" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/6FfcU0sASnKBg2BbOlN7_07debd3c60f7e252e42fa76f516624e5.jpg"
           style="display: block; width: 100%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <form id="lavapramim-login" class="list">
      <label class="item item-input" id="lavapramim-input2" name="email">
        <span class="input-label">Email</span>
        <input type="text" placeholder="" ng-model="user.email">
      </label>
      <label class="item item-input" id="lavapramim-input3">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="" ng-model="user.password">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="lavapramim-toggle2" name="remember" ng-model="user.remember">Lembrar meu login</ion-toggle>
    </form>
    <div class="row" ng-show="invalid">
      <div class="alert alert-dismissible alert-danger" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <small>Usuário/Senha incorreta</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="text-align: center">
        <a href="">Esqueci minha Senha</a>
      </div>
    </div>
    <div id="lavapramim-button-bar1" class="button-bar">
      <a ui-sref="lavapramimCadastro()" id="lavapramim-button6"
         class="button button-stable button-block">Cadastre-se</a>
      <a ng-click="login()" id="lavapramim-button7" class="button button-positive button-block">Entrar</a>
    </div>
  </ion-content>
</ion-view>
