<ion-view title="lavapramim | Home" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <p>Olá {{currentUser.firstName + ' ' + currentUser.lastName + '!'}}</p>
    </div>
    <ion-list id="lavapramimHome-list6">
      <ion-item class="item-avatar" id="lavapramimHome-list-item8" ui-sref="lavapramimConfirmaO()">
        <h2>Novo Serviço</h2>
      </ion-item>
      <ion-item class="item-avatar" id="lavapramimHome-list-item9">
        <h2>Acompanhamento</h2>
      </ion-item>
      <ion-item class="item-avatar" id="lavapramimHome-list-item10">
        <h2>Pagamento</h2>
      </ion-item>
      <ion-item class="item-avatar" id="lavapramimHome-list-item12">
        <h2>Contato</h2>
      </ion-item>
      <ion-item class="item-avatar" id="lavapramimHome-list-item11">
        <h2>Logout</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
