<ion-view title="lavapramim | Pagamento" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <h3>Resumo do Serviço</h3>
      <p></p>
      <br>
      <ul>
        <li>
          <strong>Lavanderia 1 - Somente Lavar</strong>
        </li>
        <li>
          <small style="color: red">R$ {{order.total}}</small>
        </li>
        <li>
          <strong>Entregador X</strong>
        </li>
        <li>
          <small style="color: red">R$10,00</small>
        </li>

      </ul>
      <br>
    </div>
    <ion-list id="lavapramimPagamento-list11">
      <ion-item class="item-icon-left assertive" id="lavapramimPagamento-list-item32">
        <i class="icon ion-android-cart"></i>R${{order.total}}</ion-item>
    </ion-list>
    <ion-list id="lavapramimPagamento-list20">
      <ion-item class="item-icon-left" id="lavapramimPagamento-list-item52">
        <i class="icon ion-card"></i>529323******3261</ion-item>
    </ion-list>
    <div id="lavapramimPagamento-button-bar11" class="button-bar">
      <a ui-sref="lavapramimPagamento2()" id="lavapramimPagamento-button52" class="button button-stable button-block">Outro Cartão</a>
      <a ui-sref="lavapramimSucesso()" id="lavapramimPagamento-button53" class="button button-positive button-block">Confirmar</a>
    </div>
    <button id="lavapramimPagamento-button24" class="button button-calm button-block">Pagamento Via Paypal</button>
    <div id="lavapramimPagamento-button-bar10" class="button-bar">
      <a ui-sref="lavapramimEntregadores()" id="lavapramimPagamento-button49" class="button button-stable button-block">Voltar</a>
      <a ui-sref="lavapramimHome()" id="lavapramimPagamento-button50" class="button button-dark button-block">Cancelar</a>
    </div>
  </ion-content>
</ion-view>
