<ion-view title="lavapramim | Sucesso" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qrAlaMsRYWlyeuStOKy2_img_319605.svg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="lavapramimSucesso-list18">
      <ion-item class="item-divider" id="lavapramimSucesso-list-item-divider8"> Operação realizada com sucesso!</ion-item>
    </ion-list>
    <a ui-sref="lavapramimHome()" id="lavapramimSucesso-button42" class="button button-positive button-block">Início</a>
  </ion-content>
</ion-view>