<ion-view title="lavapramim | Pagamento" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="lavapramimPagamento3-list17">
      <ion-item class="item-divider" id="lavapramimPagamento3-list-item-divider7"> Dados do Cartão</ion-item>
    </ion-list>
    <form id="lavapramimPagamento3-form8" class="list">
      <label class="item item-input" id="lavapramimPagamento3-input16">
        <span class="input-label">Nº do Cartão</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="lavapramimPagamento3-input17">
        <span class="input-label">Nome Impresso no Cartão</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="lavapramimPagamento3-input18">
        <span class="input-label">Validade</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="lavapramimPagamento3-input19">
        <span class="input-label">Código de Segurança</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="lavapramimPagamento3-button-bar8" class="button-bar">
      <a ui-sref="lavapramimPagamento2()" id="lavapramimPagamento3-button40" class="button button-stable button-block">Voltar</a>
      <a ui-sref="lavapramimSucesso()" id="lavapramimPagamento3-button41" class="button button-positive button-block">Adicionar</a>
    </div>
  </ion-content>
</ion-view>