<ion-view title="lavapramim | Listagem de Serviços" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="lavapramimListagemDeServiOs-form6" class="list">
      <label class="item item-input" id="lavapramimListagemDeServiOs-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item ng-click="setServiceProvider(user.id)" class="item-thumbnail-left" id="lavapramimListagemDeServiOs-list-item21" ng-repeat="user in laundries">
        <h2 ng-if="user.userType == 'laundry'">{{user.washPeople[0].companyName}}</h2>
        <h2 ng-if="user.userType == 'washpeople'">{{user.firstName + ' ' + user.lastName}}</h2>
        <h3>R${{user.washPeople[0].priceByBasket}}</h3>
        <h3>Bairro: {{user.address[0].suburb}}</h3>
        <p ng-if="!user.isOnline" style="color: red">FECHADO</p>
        <p ng-if="user.isOnline" style="color: green">ABERTO</p>

      </ion-item>
      <!--<ion-item class="item-thumbnail-left" id="lavapramimListagemDeServiOs-list-item22">-->
        <!--<h2>Lavanderia 2</h2>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-thumbnail-left" id="lavapramimListagemDeServiOs-list-item23">-->
        <!--<h2>Lavanderia 3</h2>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-thumbnail-left" id="lavapramimListagemDeServiOs-list-item24">-->
        <!--<h2>Lavanderia 4</h2>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-thumbnail-left" id="lavapramimListagemDeServiOs-list-item25">-->
        <!--<h2>Lavanderia 5</h2>-->
      <!--</ion-item>-->
    </form>
  </ion-content>
</ion-view>
