<ion-view title="lavapramim | Entregadores" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="lavapramimEntregadores-list9">
      <ion-item class="item-icon-left assertive" id="lavapramimEntregadores-list-item31">
        <i class="icon ion-android-cart"></i>R$ {{order.total}}</ion-item>
    </ion-list>
    <a ui-sref="lavapramimPagamento()" id="lavapramimEntregadores-button20" class="button button-calm button-block">Pular Etapa</a>
    <ion-list id="lavapramimEntregadores-list13">
      <ion-item class="item-divider" id="lavapramimEntregadores-list-item-divider5"> {{deliveryPeople.length}} entregadores encontrados</ion-item>
      <ion-item class="item-icon-left" id="lavapramimEntregadores-list-item41">
        <i class="icon ion-android-pin"></i>Visualizar no mapa</ion-item>
    </ion-list>
    <ion-list id="lavapramimEntregadores-list8">
      <ion-item class="item-avatar positive" id="lavapramimEntregadores-list-item26" ng-repeat="user in deliveryPeople">
        <h2>{{user.firstName + user.lastName}}
        </h2>
        <p>R${{user.deliveryPeople[0].precoKm}}</p>
      </ion-item>
      <!--<ion-item class="item-avatar" id="lavapramimEntregadores-list-item20">-->
        <!--<h2>Entregador P</h2>-->
        <!--<p>R$8,90</p>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-avatar" id="lavapramimEntregadores-list-item27">-->
        <!--<h2>Entregador T</h2>-->
        <!--<p>R$16,00</p>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-avatar" id="lavapramimEntregadores-list-item29">-->
        <!--<h2>Entregador O</h2>-->
        <!--<p>R$14,90</p>-->
      <!--</ion-item>-->
    </ion-list>

    <div id="lavapramimEntregadores-button-bar6" class="button-bar">
      <a ui-sref="lavapramimInformaEs()" id="lavapramimEntregadores-button17" class="button button-stable button-block">Voltar</a>
      <a ui-sref="lavapramimPagamento()" id="lavapramimEntregadores-button19" class="button button-positive button-block">Confirmar</a>
    </div>
  </ion-content>
</ion-view>
