<ion-view title="lavapramim | Pagamento" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="lavapramimPagamento2-list14">
      <ion-item class="item-divider" id="lavapramimPagamento2-list-item-divider6"> Seus cartões</ion-item>
    </ion-list>
    <ion-list id="lavapramimPagamento2-list15">
      <ion-item class="item-icon-left" id="lavapramimPagamento2-list-item50">
        <i class="icon ion-card"></i>529323******3261</ion-item>
    </ion-list>
    <button id="lavapramimPagamento2-button29" class="button button-calm button-block">Adicionar outro cartão</button>
    <div id="lavapramimPagamento2-button-bar7" class="button-bar">
      <a ui-sref="lavapramimPagamento()" id="lavapramimPagamento2-button34" class="button button-stable button-block">Voltar</a>
      <button id="lavapramimPagamento2-button35" class="button button-assertive button-block">Remover</button>
    </div>
  </ion-content>
</ion-view>