
<ion-view title="lavapramim | Cadastro " id="page4">
  <ion-content padding="true" class="has-header">
    <form id="lavapramimCadastro-form3" class="list">
      <ion-list id="lavapramimCadastro-list3">
        <ion-item class="item-divider" id="lavapramimCadastro-list-item-divider2"> Dados Pessoais</ion-item>
        <label class="item item-select" id="lavapramimCadastro-select3" name="usertype">
          <span class="input-label">Eu sou</span>
          <select ng-model="user.userType" ng-change="whichPerson()">
            <option value="client">Cliente</option>
            <option value="washpeople">Lavador(a)</option>
            <option value="laundry">Lavanderia</option>
            <option value="deliverypeople">Entregador(a)</option>
          </select>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input6" ng-hide="juridical">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="" ng-model="user.firstName" required>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input6" ng-hide="juridical">
          <span class="input-label">Sobrenome</span>
          <input type="text" placeholder="" ng-model="user.lastName" required>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input6" ng-show="juridical">
          <span class="input-label">Razão Social</span>
          <input type="text" placeholder="" ng-model="washPeople.companyName" required>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input7">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="user.email" required>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input10">
          <span class="input-label" ng-hide="juridical">CPF</span>
          <span class="input-label" ng-show="juridical">CNPJ</span>
          <input type="text" placeholder="" ng-model="user.cpf" required ng-hide="juridical">
          <input type="text" placeholder="" ng-model="washPeople.cnpj" ng-show="juridical">
        </label>
        <label class="item item-input" id="lavapramimCadastro-input8"ng-show="deliveryP">
          <span class="input-label">Descrição</span>
          <textarea placeholder="" ng-model="delivery.description" required></textarea>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input8" ng-show="juridical">
          <span class="input-label">Descrição</span>
          <textarea placeholder="" ng-model="washPeople.serviceDescription" required></textarea>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input8" ng-show="wash">
          <span class="input-label">Descrição</span>
          <textarea placeholder="" ng-model="washPeople.serviceDescription" required></textarea>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input8" ng-show="juridical">
          <span class="input-label">Preço/Cesta</span>
          <input type="number" placeholder="" ng-model="washPeople.priceByBasket" required>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input8" ng-show="wash">
          <span class="input-label">Preço/Cesta</span>
          <input type="number" placeholder="" ng-model="washPeople.priceByBasket" required>
        </label>



        <label class="item item-input" id="lavapramimCadastro-input7" ng-show="deliveryP">
          <span class="input-label">Preço/Km </span>
          <input type="integer" placeholder="" ng-model="delivery.precoKm" required>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input8">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="" ng-model="user.password" required>
        </label>
        <label class="item item-input" id="lavapramimCadastro-input6">
          <span class="input-label">Confirmação de Senha</span>
          <input type="password" placeholder="" ng-model="user.confirmPassword" required>
        </label>
      </ion-list>
    </form>
    <div id="lavapramimCadastro-button-bar3" class="button-bar">
      <a ui-sref="lavapramim()" id="lavapramimCadastro-button21" class="button button-stable button-block">Voltar</a>
      <button ng-click="createUser()" id="lavapramimCadastro-button22" class="button button-positive button-block">
        Salvar
      </button>
    </div>
  </ion-content>
</ion-view>
