<ion-view title="lavapramim | Confirmação" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="lavapramimConfirmaO-card24">
      <ion-item class="item-divider" id="lavapramimConfirmaO-list-item-divider3"> Localização</ion-item>
      <div id="lavapramimConfirmaO-markdown11" class="show-list-numbers-and-dots">
        <div class="row">
          <div class="col-md-12">
            <p style="color:#000000;">Por favor, selecione o seu endereço na listagem abaixo para que possamos
              prosseguir com a busca:</p>
          </div>
        </div>
        <form>
          <ion-list radio-group required>
            <ion-item ng-repeat="address in currentUser.address">
              <ion-radio ng-click="confirmAddress()" ng-model="location.id" value="{{address.id}}" name="location">
                <p style="color:#000000;">{{address.address}}, {{address.number}}</p>
                <p style="color:#000000;">{{address.suburb}}, {{address.city}}</p>
                <p style="color:#000000;">CEP: {{address.cep}}</p>
              </ion-radio>
            </ion-item>
          </ion-list>
        </form>


      </div>
      <a ui-sref="lavapramimEdiO()" id="lavapramimConfirmaO-button26" class="button button-calm button-block">Adicionar
        localização</a>
    </div>
    <div id="lavapramimConfirmaO-button-bar4" class="button-bar">
      <a ui-sref="lavapramimHome()" id="lavapramimConfirmaO-button27"
         class="button button-stable button-block">Voltar</a>
      <a id="lavapramimConfirmaO-button28"
         class="button button-positive button-block">Confirmar</a>
    </div>
  </ion-content>
</ion-view>
