<ion-view title="lavapramim | Informações" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="lavapramimInformaEs-card25">
      <ion-item class="item-thumbnail-left" id="lavapramimInformaEs-list-item34">
        <h2 ng-if="laundry.userType == 'laundry'">{{laundry.washPeople[0].companyName}}</h2>
        <h2 ng-if="laundry.userType == 'washpeople'">{{laundry.firstName + ' ' + laundry.lastName}}</h2>
      </ion-item>
      <div class="item item-body" id="lavapramimInformaEs-list-item-container9">
        <div id="lavapramimInformaEs-markdown14" class="show-list-numbers-and-dots">
          <p>{{laundry.washPeople[0].serviceDescription}}</p>
        </div>
      </div>
      <form id="lavapramimInformaEs-form7" class="list">
        <label class="item item-input" id="lavapramimInformaEs-input9">
          <span class="input-label">Nº Cestas</span>
          <input type="number" placeholder="0" ng-model="order.numberOfBaskets" ng-change="changePrice()">
        </label>
      </form>
      <ion-item class="item-icon-left assertive" id="lavapramimInformaEs-list-item35">
        <i class="icon ion-android-cart"></i>R$ {{servicePrice}}</ion-item>
    </div>
    <div id="lavapramimInformaEs-button-bar5" class="button-bar">
      <a ui-sref="lavapramimListagemDeServiOs()" id="lavapramimInformaEs-button12" class="button button-stable button-block">Voltar</a>
      <a ng-click="requestOrder()" id="lavapramimInformaEs-button13" class="button button-positive button-block">Confirmar</a>
    </div>
  </ion-content>
</ion-view>
