<ion-view title="lavapramim | Terms" id="page18">
  <ion-content padding="true" class="has-header">
    <div id="lavapramimTerms-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Lorem ipsum dolor sit amet, sumo nemore iuvaret pro ut. Audire facilis ius at, civibus forensibus voluptatum an qui. Atqui essent et ius, te eum elitr utamur partiendo. Est an autem partem.</p>

      <p style="color:#000000;">Error consulatu per ut. No usu detracto mediocritatem. Quod nisl et vis. Nibh liber in eum, saepe veniam possit usu cu, qui id verear diceret vivendum. Fugit discere ei pro. Tota nonumes at sit, ne nonumes deterruisset pro.</p>

      <p style="color:#000000;">Viderer corrumpit repudiare eam ad, nulla argumentum id eos, sed cu tamquam nostrum electram. Soleat iisque alienum vix et, est natum eligendi consequat ex. In vix labore suscipiantur. Mea dicam assentior signiferumque at.</p>

      <p style="color:#000000;">Et mea animal regione moderatius, in cum ridens saperet impedit. Sed te ridens aperiri iracundia, duis animal no mei, dolor nominavi moderatius nam eu. Simul luptatum constituam mea at, et tollit definiebas eum. Cu mel solet postea intellegebat.
        Unum debet cu vim. Ut duis noluisse sensibus eos, eam ne vitae accusata.</p>

      <p style="color:#000000;">Cu agam saperet dignissim vim, te quem nostrum salutatus sea. In quis soleat nec. Ius eros commune ne, malis consetetur vituperata vix eu. Qui et eloquentiam adversarium, nec omnis vulputate no. Aliquam admodum ea quo, et quo wisi movet nihil. Id
        exerci quidam reformidans sea.&lt;/textarea&gt; &lt;script type="text/javascript"&gt;//&lt;![CDATA[ var loremInit = ", sumo nemore iuvaret pro ut. Audire facilis ius at, civibus forensibus voluptatum an qui. Atqui essent et ius, te eum elitr utamur
        partiendo. Est an autem partem.\n\n" +"Error consulatu per ut. No usu detracto mediocritatem. Quod nisl et vis. Nibh liber in eum, saepe veniam possit usu cu, qui id verear diceret vivendum. Fugit discere ei pro. Tota nonumes at sit, ne nonumes
        deterruisset pro.\n\n" +"Viderer corrumpit repudiare eam ad, nulla argumentum id eos, sed cu tamquam nostrum electram. Soleat iisque alienum vix et, est natum eligendi consequat ex. In vix labore suscipiantur. Mea dicam assentior signiferumque
        at.\n\n" +"Et mea animal regione moderatius, in cum ridens saperet impedit. Sed te ridens aperiri iracundia, duis animal no mei, dolor nominavi moderatius nam eu. Simul luptatum constituam mea at, et tollit definiebas eum. Cu mel solet postea
        intellegebat. Unum debet cu vim. Ut duis noluisse sensibus eos, eam ne vitae accusata.\n\n" +"Cu agam saperet dignissim vim, te quem nostrum salutatus sea. In quis soleat nec. Ius eros commune ne, malis consetetur vituperata vix eu. Qui et eloquentiam</p>
    </div>
    <a ui-sref="lavapramimCadastro()" id="lavapramimTerms-button9" class="button button-stable button-block">Voltar</a>
  </ion-content>
</ion-view>