/* Empty. Add your own CSS if you like */

.alert
{
  margin-bottom: 1rem;
  padding: 15px;

  border: 1px solid transparent;
  border-radius: .215rem;
}

.alert-heading
{
  color: inherit;
}

.alert-link
{
  font-weight: 700;
}

.alert-dismissible
{
  padding-right: 30px;
}
.alert-dismissible .close
{
  position: relative;
  top: -.125rem;
  right: -15px;

  color: inherit;
}

.alert-success
{
  color: #4caf50;
  border-color: #c8e6c9;
  background-color: rgba(200, 230, 201, .8);
}
.alert-success .close
{
  color: #4caf50;
}
.alert-success .close:hover,
.alert-success .close:focus
{
  color: #4caf50;
}

.alert-info
{
  color: #00bcd4;
  border-color: #b2ebf2;
  background-color: rgba(178, 235, 242, .8);
}
.alert-info .close
{
  color: #00bcd4;
}
.alert-info .close:hover,
.alert-info .close:focus
{
  color: #00bcd4;
}

.alert-warning
{
  color: #ff9800;
  border-color: #ffe0b2;
  background-color: rgba(255, 224, 178, .8);
}
.alert-warning .close
{
  color: #ff9800;
}
.alert-warning .close:hover,
.alert-warning .close:focus
{
  color: #ff9800;
}

.alert-danger
{
  color: #f44336;
  border-color: #ffcdd2;
  background-color: rgba(255, 205, 210, .8);
}
.alert-danger .close
{
  color: #f44336;
}
.alert-danger .close:hover,
.alert-danger .close:focus
{
  color: #f44336;
}

.close
{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;

  float: right;

  opacity: .2;
  color: #000;
  text-shadow: none;
}
.close:focus,
.close:hover
{
  cursor: pointer;
  text-decoration: none;

  opacity: .5;
  color: #000;
}

button.close
{
  padding: 0;

  cursor: pointer;

  border: 0;
  background: transparent;

  -webkit-appearance: none;
}

